@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;700&display=swap');
*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
html{
    font-family: 'Poppins', sans-serif;
    scroll-behavior: smooth;
}
/*NAV BAR*/
.navbar{
    width: 100%;
    height: 50px;
    background-color: black;
    position: fixed;
    top: 0;
}
.navbar-container{
    display: flex;
    align-items: center;
    padding: 0 50px;
    height: 100%;
    color: white;
}
.logo-container{
    flex: 1;
}
.logo{
    width: 50px;
}
.menu-container{
    flex: 6;
}
.menu-list{
    display: flex;
    list-style: none;
    justify-content: center;
}
.menu-list-item{
    margin-right: 30px;
}
.profile-container{
    flex: 2;
    display: flex;
    align-items: center;
    justify-content: flex-end;
}
.profile-text-container{
    margin: 0 20px;
    background: #E8CEFE;
    border-radius: 12px;
    width: 90px;
    height: 30px;
    display: flex;
    align-items: center;
    justify-content: center;
    color: black;
}
.profile-language{
    width: 38px;
    height: 30px;
    object-fit: cover;
    border-radius: 20%;
}
/*CONTAINER*/
.container{
    background-color: #151515;
    min-height: calc(100vh - 50px);
    color: white;
}
.content-container{
    /* margin-left: 50px; */
}
.featured-content{
    height: 50vh;
    padding: 50px;
    background: linear-gradient(to bottom, rgba(0,0,0,0), #151515), url('IMAGES/BlackPanther.jpg');
    background-repeat: no-repeat;
    background-size: cover;
}
.featured-title{
    width: 200px;
    font-style: normal;
    font-weight: 200;
    font-size: 28px;
    line-height: 60px;
    letter-spacing: 0.1em;
}
.featured-desc{
    letter-spacing: 0.2em;
}
.featured-buy-see{
    height: 20vh;
    flex: 2;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: space-around;
}
.featured-button{
    background-color: red;
    color: white;
    padding: 20px 20px;
    border-radius: 10px;
    border: none;
    outline: none;
    font-size: 18px;
    line-height: 0%;
    letter-spacing: 0.1em;
}
.featured-trailer{
    position: absolute;
    width: 361px;
    height: 844px;
    left: 75%;
    top: 5%;
}
.featured-text-trailer{
    position: absolute;
    width: 200px;
    height: 60px;
    left: 11px;
    top: 30px;
    font-style: normal;
    font-weight: 400;
    font-size: 40px;
    line-height: 60px;
    letter-spacing: 0.1em;
}
.trailer1{
    position: absolute;
    width: 336px;
    height: 190px;
    left: 11px;
    top: 100px;
}
/* -------------------------------------movies list----------------------------------------------------------- */
.movie-list-container{
    padding: 0 20px;
}
.movie-list-wrapper{
    position: relative;
    overflow: hidden;
}
.movie-list{
    display: flex;
    align-items: center;
    height: 350px;
    transform: translateX(0);
    transition: all 1s ease-in-out;
}
.movie-list-item{
    margin-right: 30px;
    position: relative;
}
.movie-list-item:hover .movie-list-item-img{
    transform: scale(1.2);
    margin: 0 30px;
    opacity: 0.5;
}
.movie-list-item:hover .movie-list-item-button1,
.movie-list-item:hover .movie-list-item-button2{
    opacity: 1;
}
.movie-list-item-img{
    transition: all 1s ease-in-out;
    border-radius: 20px;
    object-fit: cover;
}
.flex-button{
    height: 100%;
    width: 100%;
    flex: 2;
    background: transparent;
    top: 80%;
    left: 50%;
}

.movie-list-item-button1{
    padding: 10px;
    background-color: red;
    color: white;
    border-radius: 10px;
    outline: none;
    border: none;
    cursor: pointer;
    position: absolute;
    width: 130px;
    bottom: 50%;
    left: 20%;
    opacity: 0;
    transition: 1s all ease-in-out;
}
.movie-list-item-button2{
    padding: 10px;
    background-color: red;
    color: white;
    border-radius: 10px;
    outline: none;
    border: none;
    cursor: pointer;
    position: absolute;
    width: 130px;
    bottom: 30%;
    left: 20%;
    opacity: 0;
    transition: 1s all ease-in-out;
}
/*--------------------------Sub navbar------------------------------------*/
.subnav{
    width: 100%;
    height: 36px;
    background-color: #D4A5FD;
    position: absolute;
    top: 50px;
}
.subnav-container{
    display: flex;
    align-items: center;
    text-align: center;
    padding: 0 50px;
    height: 100%;
    color: black;
}
.home-page{
    display: flex;
    align-items: center;
}
.home{
    width: 25px;
    margin-right: 20px;
}
.infor-container{
    flex: 2;
}
.infor-list{
    display: flex;
    list-style: none;
    justify-content: flex-start;
}
.infor-list-item{
    margin-right: 20px;
    margin-left: 20px;
    font-weight: 600px;
}
.special{
    text-decoration: underline;
}
.more-than{
    width: 15px;
}
/* ------------------------------FILM CONTENT---------------------- */
.film-container{
    position: relative;
    background-color: #E7D5F7;
    height: 100%;
    color: #151515;
    top: 85px;
}
.film-contain-container{

}
.feature-content-film{
    height: 89vh;
    padding: 50px 20%;
}
.featured-title-film{
    width: 200px;
    font-style: normal;
    font-weight: 600;
    font-size: 28px;
    line-height: 60px;
    letter-spacing: 0.1em;
}
.line{
    width: 100%;
    height: 0px;
    left: 140.5px;
    top: 302.7px;
    border: 1px solid #000000;
    transform: rotate(-0.02deg);
}
.main-content-film{
    display: flex;
    justify-content: space-around;
    padding:24px 0;
    width: 100%;
    height: 380px;
}
.image-frame{
    width: 200px;
    height: 258px;
    border-radius: 5px;
    padding-right: 20px;
}
.background-film{
    width: 250px;
    height: 330px;
    border: 3px solid #fff;
    box-shadow: 15px 15px 30px #bebebe,
             -15px -15px 30px #ffffff;
}
.container-box-film{
    width: 50%;
}
.infor-film{
    list-style: none;
    background-color: #F3EAFB;
    height: 330px;
    border-radius: 5px;
    padding:10px;
    box-shadow: 15px 15px 30px #bebebe,
             -15px -15px 30px #ffffff;
}
.infor-film-item{
    font-weight: 400px;
    font-size: 20px;
}
.main-title{
    font-weight:600;
    font-size: 24px;
}
.box-buy-ticket{
    display: flex;
    align-items: flex-end;
    /* align-self: flex-end; */
    height: 20%;
}
.buy-ticket{
    position: relative;
    color: #090909;
    padding: 0.7em 1.7em;
    font-size: 18px;
    border-radius: 0.5em;
    background: #e8e8e8;;
    border: 1px solid #e8e8e8;
    transition: all .3s;
    box-shadow: 6px 6px 12px #c5c5c5,
                -6px -6px 12px #ffffff;
}
.buy-ticket:hover{
    border: 1px solid white
}
.buy-ticket:active{
    box-shadow: 4px 4px 12px #c5c5c5,
    -4px -4px 12px #ffffff;
}
.buy-ticket-item{
    font-size: 18px;
}